@charset "UTF-8";

html {
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  height: 100%;
}
canvas {
  display: inline-block;
  vertical-align: top;
  cursor: crosshair;
  /*width: 80%;*/
  /*height: 100%;*/
}

.sidebar {
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
  width: 20%;
  padding: 1em;
}
@media screen and (orientation: portrait) {
  .sidebar {
    display: block;
    width: auto;
  }
}

text {
  dominant-baseline: hanging;
  fill: white;
  font-family: Arial;
  font-size: 10pt;
}

svg {
  /*display: block;*/
  display: inline-block;
  box-sizing: border-box;
  width: 100%;
  /*width: 600px;*/
  height: 600px;
  margin: 0;
}

svg > g > rect {
  fill: transparent;
  cursor: crosshair;
}

polygon, rect {
  stroke: black;
  stroke-width: 1.5;
  fill: none;
  cursor: crosshair;
}

line {
  stroke: purple;
  stroke-width: 1;
  pointer-events: none;
}

circle {
  fill: black;
  cursor: crosshair;
  /*pointer-events: none;*/
}
/*circle:hover {*/
  /*fill: #0000FF;*/
/*}*/

.content {
  box-sizing: border-box;
  padding: 1.5em;
  padding-left: 2.5em;
  display: block;
  /*text-align: center;*/
}
@media screen and (min-width: 700px) {
  .content {
    display: inline-block;
    /*vertical-align: top;*/
    /*padding: 0;*/
    /*margin: 0;*/
    width: 79%;
    height: 100%;
    text-align: left;
  }
}

.tooltip rect {
  pointer-events: none;
  stroke: none;
  /*stroke-width: 1;*/
  pointer-events: none;
  fill: rgba(0,0,0, .9)
}

/*.tooltip text {*/
/*}*/
