@charset "UTF-8";

canvas {
  display: block;
  margin: auto;
}

.content {
  box-sizing: border-box;
  padding: 1.5em;
  padding-left: 2.5em;
  display: block;
  /*text-align: center;*/
}
@media screen and (min-width: 700px) {
  .content {
    display: inline-block;
    /*vertical-align: top;*/
    /*padding: 0;*/
    /*margin: 0;*/
    width: 79%;
    height: 100%;
    text-align: left;
  }
}
